@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DriveWise</h1>
    <p class="lead">DriveWise allows you to view all the cars available at different dealers all on one site.</p>
    <p><a href="/car/list" class="btn btn-primary btn-lg">View All Cars &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can start by viewing the combined list of inventories from all dealers
        </p>
        <p><a class="btn btn-default" href="/car/list">All Cars &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Car Models</h2>
        <p>Interested in a particular car model? Here you can browse cars by their model</p>
        <p><a class="btn btn-default" href="/carmodel/list">Car Models &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dealers</h2>
        <p>You can also browse cars available by dealership. Check out all the dealers here</p>
        <p><a class="btn btn-default" href="/dealer/list">Car Dealers &raquo;</a></p>
    </div>
</div>