
@{
    ViewBag.Title = "Create";
}

<h2>Add Car Model</h2>
<form action="/carmodel/create" method="POST">
    <div>
        <label>Model:</label><input type="text" name="ModelName" />
    </div>
    <div>
        <label>Make:</label><input type="text"  name="Make" />
    </div>

    <div>
        <input class="btn-default" type="submit" value="Add Car Model" />
    </div>



</form>

