@model SimonChung_PassionProject.Models.Dealer

@{
    ViewBag.Title = "ConfirmDelete";
}

<h2>Do you really want to delete this dealer?</h2>

<a href="/Dealer/List">Cancel</a>

<h2>@Model.DealerID</h2>
<div>Dealer Name: @Model.DealerName</div>


<form action="/Dealer/Delete/@Model.DealerID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>

