@model IEnumerable<SimonChung_PassionProject.Models.Dealer>
@{
    ViewBag.Title = "List";
}



<h2>Car Dealers</h2>
<a  class="crud_link" href="/dealer/new">Add Dealer</a>

@foreach (var dealer in Model)
{
    <div class="car_detail"><a href="/dealer/details/@dealer.DealerID"> @dealer.DealerName </a></div>
    
   

}
